* {
    padding: 0;
    margin: 0;
}

.heading {
    background-color: #212529;
    height: 862px;
}
.heading-type {
    color: white;
}

.content {
    padding: 100px;
}

#btnLink {
    border: none;
    border-radius: 8px;
    padding: 10px;
    transition: 0.3s;
}

#btnLink:hover {
    background-color: #00D2E7;
    color: white;
}

#audiobook {
    margin-top: 100px;
    width: 700px;
    height: auto;
    border-radius: 15px;
}

#audiobook2 {
    margin-top: 50px;
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.navbar {
    background-color: #212529;
}

.signIn {
    margin-left: 100px;
}

.container-mid {
    display: flex;
}




